---
page_title: "Cortex Cloud Provider"
description: |-
    Terraform provider for Cortex Cloud by Palo Alto Networks.
---

# Cortex Cloud Provider

Cortex&reg; Cloud is the industry-leading cloud security platform by Palo Alto Networks&reg;. The `cortexcloud` provider allows for the configuration and management of resources in your Cortex Cloud tenant.

## Example Usage

{{ tffile "examples/provider/example_usage.tf" }}

## Authentication and Configuration

Before you begin using the provider, you will need to [create an API key in your Cortex Cloud tenant](https://docs-cortex.paloaltonetworks.com/r/Cortex-Cloud-Platform-APIs/Create-a-new-API-key). This can be done by opening the console in your web browser and navigating to `Settings > Configurations`, selecting `API Keys` under the `Integrations` section, and clicking the `New Key` button in the top-right corner.

You will also need to retrieve your API URL by clicking the `Copy API URL` button on the same page, next to the `New Key` button. If you cannot access this page, you can derive your API URL by taking your tenant's FQDN and prepending `api-` to it (i.e. `https://api-{fqdn}`).

>[!NOTE]
>It is recommended that you create a dedicated API key for use with the Cortex Cloud Terraform provider so that you may easily track any changes to your configurations made via Terraform.

>[!NOTE]
>While not a hard requirement, we recommend using an Advanced API Key for added security. Additional information on API key types can be found in the official documentation as well as the schema breakdown below.
>
>Be sure to set the `api_key_type` attribute in the provider configuration to the appropriate key type (`"standard"` for a Standard API key or `"advanced"` for an Advanced API key) to prevent authentication errors.

There are multiple ways to specify the provider configuration values. The supported methods are listed below, in the order in which they are applied:
1) Parameters in the provider block
2) Environment variables
3) Configuration file (in JSON format)

### Provider Block Parameters

Credentials can be provided through the `cortexcloud` provider block:

{{ tffile "examples/provider/provider_block.tf" }}

### Environment Variables

Credentials can be provided by using the `CORTEXCLOUD_API_URL`, `CORTEXCLOUD_API_KEY`, `CORTEXCLOUD_API_KEY_ID` environment variables.

If you are using an Advanced API key, you will also need to set the `api_key_type` attribute using the `CORTEXCLOUD_API_KEY_TYPE` environment variable.

Example:

{{ tffile "examples/provider/environment_variables.tf" }}

{{ codefile "shell" "examples/provider/environment_variables.sh" }}

### Configuration File

Credentials can be provided by creating a JSON file with the following structure and configuring the provider's `config_file` attribute with the full or relative filepath:

{{ tffile "examples/provider/config_file.tf" }}

{{ codefile "json" "examples/provider/config_file.json" }}

{{ .SchemaMarkdown | trimspace }}
